<footer class="footer">
    <div class="footer-content">
        <div class="container">
            <div class="columns is-variable is-8 footer-content" style="margin: 30px 0">
                    <div class="column is-two-fifths">
                        <img src="img/logo.png" width="250px" alt="">
                        <p class="subtitle is-6">CodeUntitled is a place for students of Sample Engineering collge to learn, code and improve their programming skils.</p>
                    </div>
                    <div class="column is-one-fifth">
                        <ul class="footer-list">
                            <li><a href="/about">About</a></li>
                            <li><a href="/ranks">Leaderboard</a></li>
                            <li><a href="/register">Sign Up</a></li>
                            <li><a href="/login">Login</a></li>
                        </ul>
                    </div>
                    <div class="column is-two-fifths">
                        <p class="subtitle is-6">This website is built as part of a college project, by Shaik Azizuddin, Saqlain Ahmed and Abdul Rub.</p>
                    </div>
                    
            </div>
            <p class="subtitle is-5 has-text-centered cp">
                © 2019, Mohammed Abdul Rub
            </p>
        </div>
        
    </div>
</footer>