html, body{
    font-family: 'Noto Sans TC', sans-serif !important;
}

.hero-text h1 {
    font-size: 3.6rem;
    margin-bottom: 3rem;
}

.hero-text h2 {
    font-size: 2rem;
    font-weight: 300;
    
}

.card-item{
    text-align: center;
}

.card-item h1 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.card-head{
    font-size: 3rem;
    font-weight: 700;
}
.card-text {
    margin-top: 10px !important;
    font-weight: 200;
    color: darkgray;
}

.card-image {
    width: 100px;
}
.card-row {
    margin-top: 30px;
}
.mt20{
    margin-top: 20px;
}

.little-title{
    text-transform: uppercase;
    font-size: 22px;
    letter-spacing: 2px;
}



@media (min-width: 1280px) {
    /* .little-title{
        padding-left: 30px;
    } */

    .empty-div{
        height: 400px;
    }
}


@media only screen and (min-device-width : 319px) and (max-device-width : 480px) {

    .hero-text h1 {
        font-size: 3rem;
        margin-bottom: 3rem;
    }
    .hero-text h2 {
        font-size: 1.5rem;
        font-weight: 300;
        
    }

    .card-text{
        margin-bottom: 21px;
    }

    .empty-div {
        height: 250px;
    }
    .large-heading{
        font-size: 2.3rem !important;
        font-weight: 700;
    }
    .small-text{
        font-size: 1.1rem ;
        font-weight: 300;
    }
}

cp{
    margin-top: 30px;
}

#rank-table {
    padding: 30px;
}

.large-heading{
    font-size: 3rem;
    font-weight: 700;
}

.small-text{
    font-size: 1.5rem;
    font-weight: 300;
}

.large-input{
    width: 600px;
}

.register-form {
    margin: 30px 0;
}

.vsmall-text {
    font-size: .8rem;
}


.problem-head{
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 10px;
}

.problem-text {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.7;
    color: darkgray;
}

.problem-div{
    background-color: rgb(251, 251, 251)
}

.problem-code{
    background-color: #fff;
    padding: 15px;
    font-family: 'Fira Code', monospace;
}

.editor{
    height: 375px;
}